

.font {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 7vh; color: antiquewhite;}
.font1 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 0vh;color: antiquewhite;} 
.font2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 0vh;color: antiquewhite;} 
.font3 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 0vh;color: antiquewhite;} 
.font4 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 0vh;color: antiquewhite;} 
.font5 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 10pt; margin-top: 3vh; margin-left: 0vh;color: antiquewhite;} 
.img1 {height: 20px; width: 20px; margin-top: 25px; margin-left: 150px;} 
.img2 {height: 250px; width: 200px; margin-top: 50px; margin-left: 90px;} 
.img3 {height: 300px; width: 300px; margin-top: 10px; margin-left: 35px;} 
.img4 {height: 300px; width: 160px; margin-top: 180px; margin-left: 35px;} 
.About1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;size: 20pt;margin-left: 5vh;margin: right 15vh;margin-top: 30vh ; color: antiquewhite; } 
.img5{height: 700px;width: 1500px;}
